:root {
    --bg: #ffffff;
    --body: #dddddd;
    --white: rgb(255, 255, 255);
    --black: #464646;
    --green: rgb(0, 196, 0);
    --marron: rgb(100, 54, 1);
  }
  
  a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  a:hover {
    color: var(--white);
    text-decoration: none;
  }
  
  a:active, a:hover {
    outline: 0 none;
  }
  
  body, html {
    background-color: var(--bg-body);
    position: relative;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
  }
  
  .WRAPPER {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  /*--------------------------------------------------------------
  # SideBar
  --------------------------------------------------------------*/
  
  .SIDEBAR {
    position: fixed;
    z-index: 1010;
  }
  
  .SIDEBAR .bg_shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--black);
    opacity: 1;
    transition: all 0.3s ease;
    visibility: hidden;
    z-index: 899;
  }
  
  /*--------------------------------------------------------------
  # Sidebar_inner
  --------------------------------------------------------------*/
  
  .sidebar_inner {
    position: absolute;
    left: 0;
    z-index: 900;
    height: auto;
    transition: all 0.3s ease;
    min-height: 100vh;
    width: 16rem !important;
    background: var(--bg) !important;
  }
  
  .sidebar_inner .sidebar_menu {
    height: auto;
  }
  
  .sidebar_inner .sidebar_menu {
    margin-bottom: 0 !important;
    margin-top: 20px !important;
  }
  
  .sidebar_inner .sidebar_menu>li {
    list-style: none;
    margin-top: 10px;
  }
  
  .sidebar_inner .sidebar_menu>li>a {
    padding: 8px 20px;
    color: var(--black);
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1px;
    font-size: 15px;
    margin-left: -20px;
    letter-spacing: 1px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
  }
  
  .sidebar_inner .sidebar_menu>li>a:hover, .sidebar_inner .sidebar_menu>li.active>a {
    background: var(--green) !important;
    color: var(--white) !important;
  }
  
  .sidebar_inner .sidebar_menu>li>a .icon {
    margin-right: 15px;
    font-size: 20px;
  }
  
  .sidebar_inner .closse {
    font-size: 20px;
    cursor: pointer;
    color: var(--white);
    background: var(--green);
    border-radius: 50%;
    border: 2px solid var(--white);
    display: none;
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 6px;
    padding-right: 6px;
  }
  
  .sidebar_inner .closse:hover {
    transform: scale(1.1);
  }
  
  .sidebar_inner .sidebar_logo {
    margin: auto;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
  }
  
  .sidebar_inner .sidebar_logo img {
    width: 100%;
  }
  
  /*--------------------------------------------------------------
  # Fin Sidebar_inner
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Fin SideBar
  --------------------------------------------------------------*/
  
  .CONTENT {
    margin-left: 254px;
    width: calc(100% - 224px);
    transition: all 0.3s ease;
  }
  
  .hamburger {
    font-size: 25px;
    cursor: pointer;
    color: var(--green);
    margin-right: 20px;
    display: none;
  }
  
  /*--------------------------------------------------------------
  # Configuration responsive
  --------------------------------------------------------------*/
  
  @media (max-width: 1024px) {
    .sidebar_inner {
      left: -300px;
      transition: all 0.3s ease;
    }
    .CONTENT {
      width: 100%;
      margin-left: 0;
    }
    .navbar_content {
      width: 100% !important;
    }
    .navbar_content .bloc_right .btn_deconnection .fa-power-off {
      margin-right: 0px !important;
    }
    .sidebar_inner .closse, .hamburger {
      display: block;
    }
    .WRAPPER.active .sidebar_inner {
      left: 0;
    }
    .WRAPPER.active .bg_shadow {
      visibility: visible;
      opacity: 0.5;
    }
  }
  
  /*--------------------------------------------------------------
  # Fin Configuration responsive
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # NavBar_content
  --------------------------------------------------------------*/
  
  .navbar_content {
    background: var(--bg) !important;
    width: calc(100% - 224px);
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    ;
    position: fixed;
    z-index: 1000;
  }
  
  .navbar_content .bloc_left {
    display: flex;
    align-items: center;
  }
  
  .navbar_content .bloc_right {
    display: flex;
    margin-top: 20px;
    align-items: center;
  }
  
  .navbar_content .bloc_right .btn_deconnection .fa-power-off {
    background: red;
    padding: 10px;
    color: var(--white);
    border-radius: 50%;
    font-size: 14px;
    margin-top: -20px;
    transition: 0.5s;
    margin-right: 30px;
  }
  
  .navbar_content .bloc_right .btn_deconnection .fa-power-off:hover {
    transform: scale(1.1);
  }
  
  .navbar_content .image_clinique img {
    border-radius: 4px;
    border: 2px solid var(--green);
  }
  
  .navbar_content .image_clinique a {
    color: var(--marron) !important;
    font-weight: 600;
    font-size: 20px !important;
    margin-left: 5px;
    letter-spacing: 1px;
  }
  
  /*--------------------------------------------------------------
  # Fin NavBar_content
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Profile
  --------------------------------------------------------------*/
  
  #profile-blocs {
    background-color: var(--body);
    width: 100%;
    height: 91vh;
    animation-name: slideProfile;
    animation-duration: 0.7s;
    padding: 15px;
    margin-top: 60px;
  }
  
  #profile-blocs .profile {
    width: 100%;
    height: 90vh;
    background: var(--bg);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  }
  
  #profile-blocs .profile .logo_clinique {
    width: 200px;
    height: 200px;
  }
  
  #profile-blocs .profile .logo_clinique img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  }
  
  #profile-blocs .profile .description_clinique {
    margin-top: 20px;
  }
  
  #profile-blocs .profile .description_clinique span {
    color: var(--green);
    font-weight: 600;
    font-size: 16px;
  }
  
  #profile-blocs .profile .description_clinique h6 {
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 10px;
    color: rgb(56, 56, 56);
  }
  
  #profile-blocs .profile .astuces_profile h6 {
    color: var(--white);
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: var(--green);
    letter-spacing: 1px;
  }
  
  #profile-blocs .profile .astuces_profile p {
    color: rgb(56, 56, 56);
    font-size: 15px;
  }
  
  #profile-blocs .profile .astuces_profile .image_astuce {
    width: 80%;
    height: 200px;
  }
  
  #profile-blocs .profile .astuces_profile .image_astuce img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  #profile-blocs .profile .button_modification {
    margin-top: 30px;
  }
  
  #profile-blocs .profile .button_modification button {
    background-color: var(--green);
    color: var(--white);
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
    transition: 0.5s;
  }
  
  #profile-blocs .profile .button_modification button:hover {
    transform: scale(1.1);
  }
  
  @keyframes slideProfile {
    0% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /*--------------------------------------------------------------
  # Fin Profile
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Planing
  --------------------------------------------------------------*/
  
  #planing-blocs {
    background-color: var(--body);
    display: none;
    width: 100%;
    height: 91vh;
    animation-name: slidePlaning;
    animation-duration: 0.7s;
    padding: 15px;
    margin-top: 60px;
  }
  
  #planing-blocs .planing {
    width: 100%;
    height: 90vh;
    background: var(--bg);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  }
  
  #planing-blocs .planing .btn_ajouteAgenda {
    background-color: var(--green);
    color: var(--white);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
  }
  
  #planing-blocs .planing .btn_ajouteAgenda:focus {
    box-shadow: none!important;
  }
  
  #planing-blocs .planing .content_planing {
    height: 77vh;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
	#planing-blocs .planing .content_planing .bloc_agenda{
		margin-top: 10px;
		background-color: rgba(156, 70, 0, 0.815);
		padding: 10px;
	}
  #planing-blocs .planing .content_planing .agenda {
    margin-top: 20px;
  }
  #planing-blocs .planing .content_planing .agenda .modifier_agenda{
    background:var(--green)!important;
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
    color:var(--white);
  }
  #planing-blocs .planing .content_planing .agenda .modifier_agenda:focus{
    box-shadow:none!important;
  }
  #planing-blocs .planing .content_planing .agenda .suprimer_agenda{
    background:red!important;
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
    color:var(--white);
    margin-left:10px;
  }
  #planing-blocs .planing .content_planing .agenda .suprimer_agenda:focus{
    box-shadow:none!important;
  }
  
  #planing-blocs .planing .content_planing .agenda h6 {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
  }
  
  #planing-blocs .planing .content_planing .agenda hr {
    margin: 0!important;
		background-color: var(--white);
  }
  
  #planing-blocs .planing .content_planing .heure_agenda {
    padding-top: 15px;
  }
  
  #planing-blocs .planing .content_planing .heure_agenda .card_heure {
    padding: 10px;
    background-color: var(--bg);
    box-shadow: 0px 0px 4px 2px rgb(202, 202, 202);
  }
  
  #planing-blocs .planing .content_planing .heure_agenda .card_heure h6 {
    font-size: 16px;
    color: var(--marron);
    font-weight: 600;
  }
  
  #planing-blocs .planing .content_planing .heure_agenda .card_heure .action_heure #btn_on {
    background: var(--green);
    padding-left: 10px;
    padding-right: 10px;
    color: var(--white);
    font-weight: 600;
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
  }
  
  #planing-blocs .planing .content_planing .heure_agenda .card_heure .action_heure #btn_on:focus {
    box-shadow: none!important;
  }
  
  #planing-blocs .planing .content_planing .heure_agenda .card_heure .action_heure #btn_on span {
    background: var(--white);
    color: var(--black);
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
  }
  
  #planing-blocs .planing .content_planing .heure_agenda .card_heure .action_heure #btn_off {
    background: red;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--white);
    font-weight: 600;
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
  }
  
  #planing-blocs .planing .content_planing .heure_agenda .card_heure .action_heure #btn_off:focus {
    box-shadow: none!important;
  }
  
  #planing-blocs .planing .content_planing .heure_agenda .card_heure .action_heure #btn_off span {
    background: var(--white);
    color: var(--black);
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
  }
  
  #planing-blocs .planing .content_planing .heure_agenda .card_heure .action_heure .btn-danger {
    background-color: red!important;
    color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
  }
  
  #planing-blocs #modalAgenda .modal-content {
    border: none!important;
    background-color: var(--bg)!important;
  }
  
  #planing-blocs #modalAgenda .modal-content .modal-header {
    padding: 10px!important;
    background: var(--green);
  }
  
  #planing-blocs #modalAgenda .modal-content .modal-header h5 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: var(--white);
  }
  
  #planing-blocs #modalAgenda .modal-content .modal-header .close {
    color: var(--white);
    opacity: 1!important;
  }
  
  #planing-blocs #modalAgenda .modal-content .modal-body {
    padding: 10px!important;
    background-color: var(--bg);
  }
  
  #planing-blocs #modalAgenda .modal-content .modal-body label {
    font-size: 15px;
    font-weight: 600;
    color: var(--black);
  }
  
  #planing-blocs #modalAgenda .modal-content .modal-body input {
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    border: none !important;
    padding-left: 10px;
    background-color: var(--bg);
    font-weight: 600;
  }
  #planing-blocs #modalAgenda .modal-content .modal-body input:focus{
    box-shadow: none!important;
  }
  #planing-blocs #modalAgenda .modal-content .modal-body select {
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    border: none !important;
    padding-left: 10px;
    background-color: var(--bg);
    font-weight: 600;
  }
	#planing-blocs #modalAgenda .modal-content .modal-body select option{
		font-weight: 600;
	}
  #planing-blocs #modalAgenda .modal-content .modal-body select:focus{
    box-shadow: none!important;
  }
	#planing-blocs #modalAgenda .modal-content .modal-body input[type=checkbox]{
		width: 17px!important;
		height: 19px!important;
		background: black!important;
		box-shadow: none!important;
	}
	#planing-blocs #modalAgenda .modal-content .modal-body input[type=checkbox]:checked{
		background: var(--green)!important;
		color: var(--white)!important;
	}
  #planing-blocs #modalAgenda .modal-content .modal-body .demi {
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 10px!important;
    display: none;
  }
  
  #planing-blocs #modalAgenda .modal-content .modal-body .une {
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 10px!important;
    display: none;
  }
  #planing-blocs #modalAgenda .modal-content .modal-body .deux {
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 10px!important;
    display: none;
  }
  #planing-blocs #modalAgenda .modal-content .modal-body .trois {
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 10px!important;
    display: none;
  }
  #planing-blocs #modalAgenda .modal-content .modal-body .quatre {
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 10px!important;
    display: none;
  }
  #planing-blocs #modalAgenda .modal-content .modal-body .cinq {
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 10px!important;
    display: none;
  }
  #planing-blocs #modalAgenda .modal-content .modal-footer{
    padding: 10px!important;
  }
  #planing-blocs #modalAgenda .modal-content .modal-footer button{
    background-color: var(--green);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--white);
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
  }
  #planing-blocs #modalAgenda .modal-content .modal-footer button:focus{
    box-shadow: none!important;
  }
  #planing-blocs #modal_modifierAgenda .modal-content{
    border:none!important;
  }
  #planing-blocs #modal_modifierAgenda .modal-content .modal-header{
    padding:10px!important;
    background:var(--green);
  }
  #planing-blocs #modal_modifierAgenda .modal-content .modal-header h5{
    font-size:15px;
    font-weight:600;
    color:var(--white);
    text-transform:uppercase;
  }
  #planing-blocs #modal_modifierAgenda .modal-content .modal-header .close{
    opacity:1!important;
    color:var(--white);
  }
  #planing-blocs #modal_modifierAgenda .modal-content .modal-body input{
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    font-weight: 600;
    color: var(--black);
    background-color: var(--bg);
    border: none!important;
  }
  #planing-blocs #modal_modifierAgenda .modal-content .modal-footer{
    padding:10px!important;
  }
  #planing-blocs #modal_modifierAgenda .modal-content .modal-footer button{
    background:var(--green);
    color:var(--white);
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
  }
  #planing-blocs #modal_modifierAgenda .modal-content .modal-footer button:focus{
    box-shadow:none!important;
  }
  @keyframes slidePlaning {
    0% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /*--------------------------------------------------------------
  # Fin Planing
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Rendez vous
  --------------------------------------------------------------*/
  
  #rendezVous-blocs {
    background-color: var(--body);
    display: none;
    width: 100%;
    height: 91vh;
    animation-name: slideRendezVous;
    animation-duration: 0.7s;
    padding: 15px;
    margin-top: 60px;
  }
  #rendezVous-blocs .rendezVous {
    width: 100%;
    padding: 10px;
    height: 86vh;
    background: var(--bg);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  }
  
  #rendezVous-blocs .rendezVous .select_status {
    display: flex;
  }
  
  #rendezVous-blocs .rendezVous .select_status select {
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    font-weight: 600;
    color: var(--black);
    background-color: var(--bg);
    border: none!important;
  }
  
  #rendezVous-blocs .rendezVous .content_status {
    height: 68vh;
  }
  
  #rendezVous-blocs .rendezVous .content_status .table-responsive .table th {
    background-color: var(--green);
    color: var(--white);
    text-align: center!important;
    font-weight: 600;
  }
  
  #rendezVous-blocs .rendezVous .content_status .table-responsive .table td {
    font-size: 15px;
  }
  
  #rendezVous-blocs .rendezVous .content_status .table-responsive .table td .btn_nonPasser{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--white);
    background-color: red;
    border-radius: 20px;
  }
  #rendezVous-blocs .rendezVous .content_status .table-responsive .table td .btn_change{
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 3px solid rgb(200, 187, 187) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--white);
    background-color: var(--green); 
    margin-left: 10px;
  }
  #rendezVous-blocs .rendezVous .content_status .table-responsive .table td .btn_change:focus{
    box-shadow: none;
  }
  #rendezVous-blocs .rendezVous .content_status .table-responsive .table td .btn_passer{
  
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--white);
    background-color: var(--green); 
    border-radius: 20px;
  }
	#rendezVous-blocs .rendezVous .content_status .table-responsive .table td .btn_suprimerRendezVous{
		padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--white);
    background-color: red;
		border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 3px solid rgb(200, 187, 187) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
		margin-left: 10px;
	}

  @keyframes slideRendezVous {
    0% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /*--------------------------------------------------------------
  # Fin Rendez vous
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Listes Patients
  --------------------------------------------------------------*/
  
  .patients-blocs {
    background-color: var(--body);
    width: 100%;
    height: 91vh;
    display: none;
    animation-name: slidePatients;
    animation-duration: 0.7s;
    padding: 15px;
    margin-top: 60px;
  }
  .patients-blocs .listesPatients {
    width: 100%;
    padding: 10px;
    height: 86vh;
    background: var(--bg);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  }
  
  .patients-blocs .listesPatients .recherche_patients input {
    width: 400px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    border: none !important;
    padding-left: 10px;
    margin-top: 10px;
    border: none!important;
    background-color: var(--bg);
  }
  
  .patients-blocs .listesPatients .content_listesPatients {
    margin-top: 10px;
  }
  
  .patients-blocs .listesPatients .content_listesPatients .table-responsive .table .bg-thead {
    background-color: var(--green);
  }
  
  .patients-blocs .listesPatients .content_listesPatients .table-responsive .table .bg-thead th {
    text-align: center!important;
    color: var(--white);
    font-weight: 600;
    font-size: 15px;
  }
  
  .patients-blocs .listesPatients .content_listesPatients .table-responsive .table tbody td {
    font-size: 15px;
    text-align: center!important;
    padding: 10px!important;
  }
  
  .patients-blocs .listesPatients .content_listesPatients .table-responsive .table tbody td .btn-success {
    background-color: var(--green);
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 3px solid rgb(200, 187, 187) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
    color: var(--white);
  }
  
  .patients-blocs .listesPatients .content_listesPatients .table-responsive .table tbody td .btn-danger {
    background-color: red;
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right:  3px solid rgb(200, 187, 187) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important; 
    color: var(--white);
  }
  
  .patients-blocs .listesPatients .content_listesPatients .table-responsive .table tbody td .btn-avertissement {
    background-color: red;
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 3px solid rgb(200, 187, 187)!important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
  }
  
  .patients-blocs .listesPatients .content_listesPatients .table-responsive .table tbody td .btn-avertissement .badge {
    color: var(--black);
  }
  
  .patients-blocs .modal-detailsPatients .modal-content {
    border: none!important;
    border-radius: 13px;
    background-color: var(--bg);
  }
  
  .patients-blocs .modal-detailsPatients .modal-content .modal-header {
    background-color: var(--green);
    color: var(--white);
    padding: 10px!important;
  }
  
  .patients-blocs .modal-detailsPatients .modal-content .modal-header h5 {
    text-transform: uppercase;
    font-size: 15px!important;
    font-weight: 600;
  }
  
  .patients-blocs .modal-detailsPatients .modal-content .modal-header .close {
    opacity: 1!important;
    color: var(--white);
  }
  
  .patients-blocs .modal-detailsPatients .modal-content .modal-body {
    padding: 20px;
    background: var(--bg);
  }
  
  .patients-blocs .modal-detailsPatients .modal-content .modal-body .image-patients {
    width: 100%;
    height: 280px;
  }
  
  .patients-blocs .modal-detailsPatients .modal-content .modal-body .image-patients img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  }
  
  .patients-blocs .modal-detailsPatients .modal-content .modal-body .descriptionsPatients h6 {
    font-size: 15px;
    color: rgb(97, 97, 97);
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  
  .patients-blocs .modal-detailsPatients .modal-content .modal-body h6 {
    font-size: 15px;
    color: rgb(97, 97, 97);
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  
  .patients-blocs .modal-detailsPatients .modal-content .modal-body h6 span {
    font-weight: 600;
    color: var(--green);
  }
  
  .patients-blocs .modal-notifierPatients .modal-content {
    border: none!important;
    border-radius: 13px;
    background-color: var(--bg);
  }
  
  .patients-blocs .modal-notifierPatients .modal-content .modal-header {
    background-color: var(--green);
    color: var(--white);
    text-transform: uppercase;
    padding: 10px!important;
  }
  
  .patients-blocs .modal-notifierPatients .modal-content .modal-header h5 {
    font-size: 15px!important;
    font-weight: 600;
  }
  
  .patients-blocs .modal-notifierPatients .modal-content .modal-header .close {
    opacity: 1;
    color: var(--white);
  }
  
  .patients-blocs .modal-notifierPatients .modal-content .modal-body {
    padding: 20px;
  }
  
  .patients-blocs .modal-notifierPatients .modal-content .modal-body select {
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    font-weight: 600;
    color: var(--black);
    background-color: var(--bg);
    border: none!important;
  }
  
  .patients-blocs .modal-notifierPatients .modal-content .modal-body textarea {
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    background-color: var(--bg);
    border: none!important;
  }
  
  .patients-blocs .modal-notifierPatients .modal-content .modal-footer {
    padding: 10px!important;
  }
  
  .patients-blocs .modal-notifierPatients .modal-content .modal-footer button {
    background-color: var(--green);
    color: var(--white);
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
    font-size: 15px;
    transition: 0.5s;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .patients-blocs .modal-notifierPatients .modal-content .modal-footer button:hover {
    transform: scale(1.1);
  }
  
  @keyframes slidePatients {
    0% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /*--------------------------------------------------------------
  # Fin Listes Patients
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Reservations
  --------------------------------------------------------------*/
  
  .reservations-blocs {
    background-color: var(--body);
    width: 100%;
    height: 91vh;
    display: none;
    animation-name: slideReservations;
    animation-duration: 0.7s;
    padding: 15px;
    margin-top: 60px;
  }
  
  .reservations-blocs .reservations {
    width: 100%;
    padding: 10px;
    height: 86vh;
    background: var(--bg);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  }
  .reservations-blocs .reservations .content_reservations{
    height: 84vh;
  }
  .reservations-blocs .reservations .content_reservations .thead_bg{
    background-color: var(--green)!important;
    padding: 10px!important;
  }
  .reservations-blocs .reservations .content_reservations .thead_bg th{
    text-align: center!important;
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
  }
  .reservations-blocs .reservations .content_reservations tbody td{
    font-size: 15px;
    padding: 10px!important;
  }
  .reservations-blocs .reservations .content_reservations tbody td .btn_ticket{
    background-color: var(--marron);
    color: var(--white);
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 3px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
    transition: 0.5s;
  }
  .reservations-blocs .reservations .content_reservations tbody td .btn_ticket:focus{
  box-shadow: none!important;
  }
  .reservations-blocs .reservations .content_reservations tbody td .btn_ticket:hover{
    transform: scale(1.1);
  }
  .reservations-blocs .reservations .content_reservations tbody td .btn_validation{
    background-color: var(--green);
    color: var(--white);
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 3px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
    transition: 0.5s;
  }
  .reservations-blocs .reservations .content_reservations tbody td .btn_validation:focus{
    box-shadow: none!important;
  }
  .reservations-blocs .reservations .content_reservations tbody td .btn_validation:hover{
    transform: scale(1.1);
  }
  .reservations-blocs  #modal_validation .modal-content {
    border: none!important;
    border-radius: 13px;
    background-color: var(--bg);
  }
  
  .reservations-blocs #modal_validation .modal-content .modal-header {
    padding: 10px!important;
    background-color: var(--green);
  }
  
  .reservations-blocs #modal_validation .modal-content .modal-header h5 {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);
    font-size: 15px;
  }
  
  .reservations-blocs #modal_validation .modal-content .modal-header .close {
    opacity: 1!important;
    color: var(--white);
  }
  
  .reservations-blocs #modal_validation .modal-content .modal-body label {
    font-weight: 600;
    font-size: 15px;
    color: var(--black);
  }
  
  .reservations-blocs #modal_validation .modal-content .modal-body input {
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    border: none !important;
    padding-left: 10px;
    background-color: var(--bg);
  }
  
  .reservations-blocs #modal_validation .modal-content .modal-body #valider {
    display: none;
  }
  .reservations-blocs #modal_validation .modal-content .modal-body #nom_valider {
    display: none;
  }
  .reservations-blocs #modal_validation .modal-content .modal-body select {
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    border: none !important;
    padding-left: 10px;
    font-weight: 600;
    background-color: var(--bg);
  }
  .reservations-blocs #modal_validation .modal-content .modal-body textarea{
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    border: none !important;
    padding-left: 10px;
    background-color: var(--bg);
  }
  
  .reservations-blocs #modal_validation .modal-content .modal-body select option {
    font-weight: 600;
    color: var(--black);
    background-color: var(--bg);
  }
  
  .reservations-blocs #modal_validation .modal-content .modal-footer {
    padding: 10px!important;
  }
  
  .reservations-blocs #modal_validation .modal-content .modal-footer button {
    background-color: var(--green);
    color: var(--white);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.5s;
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
  }
  
  .reservations-blocs #modal_validation .modal-content .modal-footer button:hover {
    transform: scale(1.1);
  }
  @keyframes slideReservations {
    0% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /*--------------------------------------------------------------
  # Fin Reservations
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Loyers
  --------------------------------------------------------------*/
  
  .loyers-blocs {
    background-color: var(--body);
    width: 100%;
    height: 91vh;
    display: none;
    animation-name: slideLoyers;
    animation-duration: 0.7s;
    padding: 15px;
    margin-top: 60px;
  }
  
  .loyers-blocs .payements {
    width: 100%;
    padding: 10px;
    height: 86vh;
    background: var(--bg);
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2);
  }
  .loyers-blocs .payements  .button_loyer select{
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    font-weight: 600;
    color: var(--black);
    background-color: var(--bg);
    border: none!important;
  }
  .loyers-blocs .payements  .button_loyer .button_ajoute_loyer button{
    border-top: 3px solid rgb(200, 187, 187) !important;
    border-right: 11px solid rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(200, 187, 187) !important;
    border-left: 11px solid rgb(255, 255, 255) !important;
    color: var(--white);
    background-color: var(--green);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .loyers-blocs .payements  .table-responsive .table th{
    font-size: 15px;
    font-weight: 600;
    background-color: var(--green);
    text-align: center!important;
    color: var(--white);
  }
  .loyers-blocs .payements  .table-responsive .table td{
    font-size: 15px;
    padding: 10px!important;
  }
  .loyers-blocs .payements  .table-responsive .table td button{
    background-color: var(--green);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--white);
    border-radius: 22px;
    border: none!important;
  
  }
  .loyers-blocs .payements  .table-responsive .table td button:focus{
    box-shadow: none!important;
  }
  
  
  .loyers-blocs .payements  #ajouter_loyer .modal-content{
    border: none!important;
    border-radius: 13px!important;
    background-color: var(--bg);
    }
    .loyers-blocs .payements  #ajouter_loyer .modal-content .modal-header{
      background-color: var(--green);
      padding: 10px!important;
      color: var(--white);
    }
    .loyers-blocs .payements  #ajouter_loyer .modal-content .modal-header h5{
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
    }
    .loyers-blocs .payements  #ajouter_loyer .modal-content .modal-header .close{
      opacity: 1!important;
      color: var(--white);
    }
    .loyers-blocs .payements  #ajouter_loyer .modal-content .modal-body label{
      font-weight: 600;
      font-size: 15px;
    }
    .loyers-blocs .payements  #ajouter_loyer .modal-content .modal-body select{
      box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
      font-weight: 600;
      color: var(--black);
      background-color: var(--bg);
      border: none!important;
    }
    .loyers-blocs .payements  #ajouter_loyer .modal-content .modal-body input{
      background-color: var(--bg);
      border: none!important;
      box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    }
    .loyers-blocs .payements  #ajouter_loyer .modal-content .modal-footer{
      padding: 10px!important;
    }
    .loyers-blocs .payements  #ajouter_loyer .modal-content .modal-footer button{
      border-top: 3px solid rgb(200, 187, 187) !important;
      border-right: 11px solid rgb(255, 255, 255) !important;
      border-bottom: 3px solid rgb(200, 187, 187) !important;
      border-left: 11px solid rgb(255, 255, 255) !important;
      background-color: var(--green);
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: 0.5s;
    }
    .loyers-blocs .payements  #ajouter_loyer .modal-content .modal-footer button:hover{
      transform: scale(1.1);
    }
  
  
  @keyframes slideLoyers {
    0% {
      transform: translateX(-1500px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /*--------------------------------------------------------------
  # Fin Loyers
  --------------------------------------------------------------*/
  
  /*--------------------------------------------------------------
  # Fin Content
  --------------------------------------------------------------*/
  
  @media (min-width: 1200px) {}
  
  @media (min-width: 992px) and (max-width: 1199.98px) {}
  
  @media (min-width: 768px) and (max-width: 991.98px) {}
  
  @media (min-width: 576px) and (max-width: 767.98px) {}
  
  @media (min-width: 376px) and (max-width: 575.98px) {}
  
  @media (min-width: 320px) and (max-width: 375.98px) {}
